.custom-menu {
  height: calc(100vh - 64px);
  overflow-y: auto;

  // padding-right: 10px;
}

.menu-panel-control {
  display: flex;
  align-items: center;
  justify-content: center;
  //   margin-left: -8px;

  .control-icon {
    cursor: pointer;
    :hover {
      color: rgb(125, 121, 121);
    }
  }
}
